@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-colorDark text-colorGray ;
  }
}
.home {
    color: #a5a5a5;
}
