@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-colorDark text-colorGray leading-loose;
  }
}
.cll {
  color: #3c3c3c;
}